@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Mate:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*  font-family: 'Merriweather Sans', sans-serif;   card title font 
    font-family: 'Manrope', sans-serif;             h1 THIS IS MASSIVELY font
    font-family: 'Charm', cursive;                  below h1 THIS IS MASSIVELY, dates
    font-family: 'Mate', serif;                     description font 
*/
:root {
    --black: #23282F;
    --gray: #F3F3F3;
    --form_border: #d7d7d9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}

.date {
    font-family: 'Charm', cursive;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 30px;
    color: var(--black);
}

/* background image sytling */

.bgimage-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('images\ used/bg.jpg') no-repeat -85px -130px;
}

body {
    background-color: #1F1C26;
    width: auto;
    overflow-x: hidden;
}

.bgimage-1::after {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 25, 36);
    z-index: 0;
    opacity: 0.8;
}


/* header styling */

.menu-btn {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 8px;
    /* border: 2px solid red; */
    font-size: 18px;
    color: var(--gray);
    cursor: pointer;
    transition: all ease 0.2s;
    z-index: 5;
}

.menu-btn i {
    color: #916c69;
}

.header {
    position: relative;
    height: 100vh;
}

.header .logo h1 {
    position: absolute;
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 200px;
    text-align: center;
    font-weight: bolder;
    color: white;
    letter-spacing: 3px;
}


.logo-desc {
    font-family: 'Mate', serif;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 44%;
    line-height: 34px;
    font-size: 19px;
    height: 45px;
}

.down-arrow {
    position: absolute;
    color: white;
    padding: 12px;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 17px;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.2s;
    outline: none;
}

.down-arrow:hover {
    background-color: #fff;
    color: var(--black);
}

/* navbar styling */

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.3);
    font-weight: 800;
}


.navbar .list .list-items,
.navbar .socials .social-items {
    list-style: none;
    color: #fff;
    padding: 23px 13px;
    cursor: pointer;
    transition: all ease 0.15s;
}

.navbar .socials .social-items {
    margin: 21px 13px;
    padding: 0;

}

.navbar .socials .social-items:hover {
    scale: 1.2;
}

.navbar .socials .social-items:active {
    scale: 0.9;
}

.navbar .list,
.navbar .socials {
    display: flex;
}

.navbar .list .list-items {
    font-size: 10px;
    letter-spacing: .5px;
}

.navbar .list .list-items:hover {
    color: var(--black);
    background-color: #fff;
}


#active {
    color: var(--black);
    background-color: #fff;
}


/* Main Styling */

.main {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    height: auto;
    padding: 5% 7%;
}

.main .primary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .primary-content div {
    display: flex;
    align-items: center;
    width: 100%;
}

.main .primary-content div .main-date {
    z-index: 5;
    background-color: white;
    text-align: center;
    width: 50%;
}

.date-outline {
    width: 100%;
    height: 2px;
    z-index: 5;
    background-color: var(--gray);
}


.main .primary-content .main-headline {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.85vw;
    color: var(--black);
    text-align: center;
    width: 60%;
    padding: 50px 0 30px;
}

.main .primary-content .main-desc {
    font-family: 'Mate', serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    width: 47%;
    color: var(--black);
    line-height: 30px;
}


.main .primary-content .main-img img {
    width: 100%;
    /* height: 400px; */
    margin: 60px 0;
}


.main .primary-content .btn,
.cards-section .card .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 12px 30px;
    cursor: pointer;
    transition: all ease 0.2s;
    width: auto;
}

.main .primary-content .btn:hover,
.cards-section .card .btn:hover {
    color: #fff;
    background-color: var(--black);
}


/* Cards styling */

.cards-section {
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--gray);
    background-color: #fff;

    /* padding-top: 60px; */
}

.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--black);
    padding: 60px 0;
    border-bottom: 2px solid var(--gray);
}

.card-odd {
    border-right: 2px solid var(--gray);
}

.card img {
    width: 79%;
    margin: 30px 0;
}

.card .card-title {
    width: 43%;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 0.5px;
}

.cards-section .card .card-desc {
    width: 79%;
    text-align: justify;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.cards-section .card .card-date {
    margin-bottom: 20px;
    font-size: 13px;
}

/* Page Navigation Styling */

.page-nav {
    position: relative;
    width: 70%;
    height: 25vh;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
    color: var(--black);
}

.page-nav ul {
    display: flex;
}

.page-nav ul .tabs {
    list-style: none;
    padding: 12px 18px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.page-nav ul .tabs:hover {
    background-color: var(--black);
    color: #fff;
}

.page-nav ul .tabs:nth-child(n) {
    border-left: 2px solid var(--gray);
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
}

.page-nav ul .tabs:nth-child(4) {
    color: var(--gray);
}

.page-nav ul .tabs:nth-last-child(1) {
    border-right: 2px solid var(--gray);
}



/* Form Styling */


.form-address {
    position: relative;
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: #ecebeb;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* User Details Styling */

.user-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 2px solid var(--form_border);
    font-size: 11px;
}

.user-details label {
    padding: 30px 0 10px 30px;
    font-weight: 600;
}

.user-details input,
textarea {
    display: block;
    width: 90%;
    padding: 2px;
    margin-top: 10px;
    outline: none;
    border: 2px solid var(--form_border);
}

.user-details input {
    height: 100%;
    font-size: 17px;
}


.user-details .btn {
    color: #5a5b5d;
    padding: 12px 25px;
    border: 2px solid #4f4f4f;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
    transition: all ease 0.2s;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 60px;
}

.user-details .btn:hover {
    background-color: #4f4f4f;
    color: #fff;
}


/* Company Details Styling */

.company-details {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.company-details div {
    font-size: 12px;
    padding: 50px 0 30px 30px;
    display: flex;
    border-bottom: 2px solid var(--form_border);
}

.company-details div:last-child {
    border-bottom: none;
}

.company-details div span {
    width: 30%;
    font-weight: 600;
}

.company-details div p,
.company-details div ul {
    display: inline-block;
    margin-left: 10px;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.company-details div ul {
    display: flex;
}

.company-details div ul .social-items {
    padding: 5px 6px;
    border: 2px solid var(--form_border);
    margin: 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.2s;
    font-size: 12px;
    width: 35px;
    height: 35px;
}

.company-details div ul .social-items:hover {
    background-color: var(--black);
    color: #ecebeb;
    border: 2px solid var(--black);
}


/* Footer Styling */


.footer {
    position: relative;
    color: #575D63;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 800;
    height: 10vh;
    /* border: 2px solid red; */
    width: 70%;
    margin: 0 auto 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}

.footer p {
    border-right: 2px solid #575D63;
    padding: 0 10px;
}

.footer p:last-child {
    border-right: none;
}


/* Side Menu Stying */


.side-nav {
    
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: -100%;
    color: white;
    height: 100vh;
    width: 60%;
    background-color: #fff;
    color: var(--black);
    display: none;
    flex-direction: column;
    align-items: end;
    z-index: 4;
}

.side-nav.show {
    display: flex;
    right: 0;
}

.side-nav .side-list {
    /* border: 2px solid red; */
    width: 100%;
    margin: 40px 0;
}


.side-nav .side-list li {
    padding: 15px;
    border-bottom: 2px solid var(--form_border);
    margin: 0 30px;
}

.side-nav .side-list li:last-child {
    border-bottom: none;
}

.side-nav .side-list li a {
    color: var(--black);
}
.side-socials {
    display: flex;
    width: 100%;
}

.side-social-items {
    padding: 10px;
    border: 2px solid var(--gray);
    font-size: 13px;
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    text-align: center;
}

.side-social-items:hover {
    background-color: var(--black);
    color: #fff;
}

.side-social-items:first-child {
    margin-left: 30px;
}


/* Responsive Design */


@media screen and (min-width: 760px) and (max-width: 1360px) {
    .user-details .btn {
        width: 30%;
    }
}

@media screen and (max-width: 1234px) {
    .down-arrow {
        bottom: 10%;
    }
}


@media screen and (max-width: 992px) {

    .navbar .list .list-items {
        font-size: 9px;
        padding: 24px 5px;
    }

    .user-details .btn {
        width: 40%;
    }

    .logo-desc {
        width: 60%;
    }

    .main .primary-content div .main-date {
        width: 80%;
    }
}


@media screen and (max-width: 760px) {

    .menu-btn {
        display: block;
    }

    .navbar .list .list-items,
    .navbar .socials .social-items {
        display: none;
    }

    .main, .cards-section, .page-nav, .form-address, .footer {
        width: 100%;
    }

    .navbar  {
        display: none;
    }

    .down-arrow {
        display: none;
    }

    .card {
        width: 100%;
    }

    .form-address {
        height: 100%;
        flex-direction: column;
        padding: 0 15px;
    }

    .user-details {
        border-right: none;
    }
    
    .user-details, .company-details  {
        width: 100%;
    }

    .user-details .btn {
        width: 100%;
        margin: 0;
    }

    .user-details input, .user-details textarea {
        width: 100%;
    }
    .user-details label {
        padding: 10px 0 10px;
    }

    .page-nav ul li:nth-child(n) {
        display: none;
    }

    .page-nav ul li:last-child{
        display: flex;
    }

    .main .primary-content .main-headline {
        font-size: 40px;
    }
}


@media screen and (max-width: 450px) {
    .header .logo h1 {
        font-size: 45px;
        width: auto;
    }

    .main .primary-content .main-headline {
        font-size: 34px;
        width: 100%;
        text-align: center;
    }
    .main .primary-content .main-desc {
        width: auto;
    }

    .card .card-title {
        width: 60%;
    }

    .side-social-items:first-child {
        margin-left: 15px;
    }

    .side-social-items {
        margin: 0 5px;
    }

    .side-nav .side-list li {
        margin: 0 10px;
        font-size: 13px;
    }
}


@media screen and (max-width: 320px) {

    .header .logo h1 {
        font-size: 35px;
        width: auto;
        height: 150px;
    }

    .logo-desc {
        top: 64%;
        font-size: 15px;
    }

    .card .card-title {
        width: 72%;
    }
    .main .primary-content div .main-date {
        width: 100%;
        font-size: 11px;
        padding: 10px 12px;
    }

    .side-social-items:first-child {
        margin-left: 10px;
    } 

    .side-social-items {
       font-size: 10px;
    }
}
